.clients {
    display: flex;
    justify-content: center;
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}

.clients__link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    color: var(--icon-team-color);
    fill: currentColor;
    border: 1px solid var(--icon-team-color);
    border-radius: 4px;
    transition: border-color 250ms var(--cubic),
        color 250ms var(--cubic);

}

.clients__link:focus,
.clients__link:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}